<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings>

    <!--<add name="AthelHREntities" connectionString="metadata=res://*/AthelHRModel.csdl|res://*/AthelHRModel.ssdl|res://*/AthelHRModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sql2012;initial catalog=AthelERP_001;user id=Atheldbo;password=AthelP@ssw0rd123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->

    <!--<add name="AthelHREntities" connectionString="metadata=res://*/AthelHRModel.csdl|res://*/AthelHRModel.ssdl|res://*/AthelHRModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=94.237.120.132;initial catalog=AthelERP_011;user id=sa;password=AthelP@ssw0rd123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->
    
    <!--Local Demo-->
    <!--<add name="AthelHREntities" connectionString="metadata=res://*/AthelHRModel.csdl|res://*/AthelHRModel.ssdl|res://*/AthelHRModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=AHMEDRAMADANPC;initial catalog=AthelHR_Demo;user id=sa;password=password;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--Local Demo-->
    <!--Remote Demo-->

    <!--<add name="AthelHREntities" connectionString="metadata=res://*/AthelHRModel.csdl|res://*/AthelHRModel.ssdl|res://*/AthelHRModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=173.249.52.85,49262\sql2012;initial catalog=AthelERP_Demo;user id=Atheldbo;password=AthelP@ssw0rd123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->
    <!--Remote Demo-->
    
    
    <!--PharamaIngaz-->
    <!--<add name="AthelHREntities" connectionString="metadata=res://*/AthelHRModel.csdl|res://*/AthelHRModel.ssdl|res://*/AthelHRModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=94.237.120.132;initial catalog=AthelERP_012;user id=sa;password=AthelP@ssw0rd123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->
    
    <!--AthelERP_001-->
    <!--<add name="AthelHREntities" connectionString="metadata=res://*/AthelHRModel.csdl|res://*/AthelHRModel.ssdl|res://*/AthelHRModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=173.249.52.85,49262\sql2012;initial catalog=AthelERP_001;user id=Atheldbo;password=AthelP@ssw0rd123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->
    <!--<add name="AthelHREntities" connectionString="metadata=res://*/AthelHRModel.csdl|res://*/AthelHRModel.ssdl|res://*/AthelHRModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=89.237.133.126,6681;initial catalog=AthelERP_001;user id=sa;password=AthelP@ssw0rd123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->
    
    <!--IngazAthelERP-->
    <!--<add name="AthelHREntities" connectionString="metadata=res://*/AthelHRModel.csdl|res://*/AthelHRModel.ssdl|res://*/AthelHRModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=AHMEDRAMADANPC;initial catalog=IngazAthelERP;user id=sa;password=password;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    
    <!--PharamaDEMO-->
    <!--<add name="AthelHREntities" connectionString="metadata=res://*/AthelHRModel.csdl|res://*/AthelHRModel.ssdl|res://*/AthelHRModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=89.237.133.126,6681;initial catalog=AthelHR_Demo;user id=sa;password=AthelP@ssw0rd123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--PharamaDEMOAddiar-->
    <!--<add name="AthelHREntities" connectionString="metadata=res://*/AthelHRModel.csdl|res://*/AthelHRModel.ssdl|res://*/AthelHRModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=94.237.120.132;initial catalog=AthelERP_011;user id=sa;password=AthelP@ssw0rd123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->
    <!--PharamaDEMOEnjaz-->
    
    <!--<add name="AthelHREntities" connectionString="metadata=res://*/AthelHRModel.csdl|res://*/AthelHRModel.ssdl|res://*/AthelHRModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=89.237.133.126,6681;initial catalog=AthelHR_Demo_02;user id=sa;password=AthelP@ssw0rd123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    
    <!--PharamaDEMODarAl Uloom-->
    <!--<add name="AthelHREntities" connectionString="metadata=res://*/AthelHRModel.csdl|res://*/AthelHRModel.ssdl|res://*/AthelHRModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=89.237.133.126,6681;initial catalog=AthelHR_Demo_03;user id=sa;password=AthelP@ssw0rd123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--PharamaDEMODarAl Uloom-->
    <!--<add name="AthelHREntities" connectionString="metadata=res://*/AthelHRModel.csdl|res://*/AthelHRModel.ssdl|res://*/AthelHRModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=89.237.133.126,6681;initial catalog=AthelHR_Demo_04;user id=sa;password=AthelP@ssw0rd123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--PharamaDEMOYmni Embassy-->
    <!--<add name="AthelHREntities" connectionString="metadata=res://*/AthelHRModel.csdl|res://*/AthelHRModel.ssdl|res://*/AthelHRModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=89.237.133.126,6681;initial catalog=AthelHR_Demo_05;user id=sa;password=AthelP@ssw0rd123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    
    
    <!--<add name="AthelHREntities" connectionString="metadata=res://*/AthelHRModel.csdl|res://*/AthelHRModel.ssdl|res://*/AthelHRModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=AHMEDRAMADANPC;initial catalog=AthelHR;user id=sa;password=password;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    
    <!--<add name="AthelHREntities" connectionString="metadata=res://*/AthelHRModel.csdl|res://*/AthelHRModel.ssdl|res://*/AthelHRModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.16.130,6681;initial catalog=AthelHR;user id=sa;password=AthelP@ssw0rd123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->
    <!--<add name="AthelHREntities" connectionString="metadata=res://*/AthelHRModel.csdl|res://*/AthelHRModel.ssdl|res://*/AthelHRModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sheshtawy-pc;initial catalog=AthelHR;user id=sa;password=password;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="AthelHREntities" connectionString="metadata=res://*/AthelHRModel.csdl|res://*/AthelHRModel.ssdl|res://*/AthelHRModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=AHMEDRAMADANPC;initial catalog=PharmaRetaj;persist security info=True;user id=sa;password=password;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

    
    
    <!--<add name="AthelHREntities" connectionString="metadata=res://*/AthelHRModel.csdl|res://*/AthelHRModel.ssdl|res://*/AthelHRModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=AHMEDRAMADANPC;initial catalog=FactoryAthelHR;persist security info=True;user id=sa;password=password;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="AthelHREntities" connectionString="metadata=res://*/AthelHRModel.csdl|res://*/AthelHRModel.ssdl|res://*/AthelHRModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-MU9VMKT;initial catalog=PharmaERP_Demo;Integrated Security=SSPI;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="AthelHREntities" connectionString="metadata=res://*/AthelHRModel.csdl|res://*/AthelHRModel.ssdl|res://*/AthelHRModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-FESPQ5G\SQLEXPRESS;initial catalog=PharmaERP_Demo;Integrated Security=SSPI;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />


    <!--TestAthelHR-->
    <!--<add name="AthelHREntities" connectionString="metadata=res://*/AthelHRModel.csdl|res://*/AthelHRModel.ssdl|res://*/AthelHRModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=89.237.133.126,6681;initial catalog=AthelHR;user id=sa;password=AthelP@ssw0rd123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->
    <!--<add name="AthelHREntities" connectionString="metadata=res://*/AthelHRModel.csdl|res://*/AthelHRModel.ssdl|res://*/AthelHRModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=86.51.7.26,6691;initial catalog=AthelHR;user id=sa;password=PDSFactoryP@ssw0rd123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->
    <!--TestAthelHR-->
    <!--FactoryAthelHR-->
    <!--<add name="IdentityConnection" connectionString="Data Source=172.16.16.130,6681;Initial Catalog=FactoryAthelHR;Persist Security Info=True;User ID=sa;Password=AthelP@ssw0rd123" providerName="System.Data.SqlClient"/>-->
    
    <!--<add name="AthelHREntities" connectionString="metadata=res://*/AthelHRModel.csdl|res://*/AthelHRModel.ssdl|res://*/AthelHRModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.8.7,6691;initial catalog=AthelHR;user id=sa;password=PDSFactoryP@ssw0rd123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->
    
    <!--<add name="AthelHREntities" connectionString="metadata=res://*/AthelHRModel.csdl|res://*/AthelHRModel.ssdl|res://*/AthelHRModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=86.51.7.26,6691;initial catalog=AthelHR;user id=sa;password=PDSFactoryP@ssw0rd123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->
    <!--FactoryAthelHR-->
    <!--<add name="AthelHREntities" connectionString="metadata=res://*/AthelHRModel.csdl|res://*/AthelHRModel.ssdl|res://*/AthelHRModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.16.130,6681;initial catalog=TestAthelHR;persist security info=True;user id=sa;password=AthelP@ssw0rd123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
   
    <!--<add name="AthelHREntities" connectionString="metadata=res://*/AthelHRModel.csdl|res://*/AthelHRModel.ssdl|res://*/AthelHRModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=AHMEDRAMADANPC;initial catalog=AthelHR;persist security info=True;user id=sa;password=password;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    
    <!--<add name="AthelHREntities" connectionString="metadata=res://*/AthelHRModel.csdl|res://*/AthelHRModel.ssdl|res://*/AthelHRModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=AHMEDRAMADANPC;initial catalog=PharmaRetaj;persist security info=True;user id=sa;password=password;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    
  
  <!--<add name="AthelHREntities" connectionString="Data Source=SCRIBES-KSA\MSSQLSERVER2012;Initial Catalog=AthelHR;Persist Security Info=True;User ID=sa;Password=RetajP@ssw0rd123" providerName="System.Data.SqlClient"/>-->
  
  </connectionStrings>
  <!--<entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>-->
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>